version: '3.8'

services:
  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    container_name: litellm
    ports:
      - "4000:4000"
    volumes:
      - ./litellm.config.yml:/app/config.yaml
    env_file:
      - .env
    command: ["--config", "/app/config.yaml", "--detailed_debug"]
